html, body {
  min-width: 100%;
}
body {
  font-family:      Verdana, Arial, Helvetica, sans-serif;
  text-align:       left;
  font-size:        8pt;
  margin:           0 auto;
  color:            #000000;
  background-image: url(images/aac0c0.jpg);
}
a {
  color:               #333333;
  text-decoration:     none;
  font-weight:         bold;
  background-color:    transparent;
  font-family:         Verdana, Arial, Helvetica, sans-serif;
  font-size:           8pt;
  font-style:          normal;
  line-height:         normal;
  border-top-style:    none;
  border-right-style:  none;
  border-bottom-style: none;
  border-left-style:   none;
}
a:hover {
  color:           #000000;
  text-decoration: underline;
  font-family:     Verdana, Arial, Helvetica, sans-serif;
  font-size:       8pt;
}
table {
  border-collapse: collapse;
  margin:          0px;
  align:           left;
}
table,th,td {
  border:      1px solid black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:   8pt;
  text-align:  left;
  padding:     5px;
}
th {
  text-align:       center;
  background-color: #bbbbbb;
}
td.emph {
  font-weight: bold;
}
tr.alt td {
  background-color: #dddddd;
}
th small , th small a {
  font-family:     Arial, sans-serif;
  font-size:       6pt;
  text-decoration: none;
}

form table, form th, form td {
  border: 0px;
}
form th {
  background-color: #ffffff;
  text-decoration:  underline;
}

/*
th {
        cursor: pointer;
        text-align:center !important;
        background-color:#0A0;
        border-left:1px solid white;
        border-bottom:1px solid black;
}
*/

.sevCritical, .sevMajor {
        background-color: #FF0000;
        border-color:#FF0000;
}
.sevWarning, .sevMinor {
        background-color: #FFFF00;
        border-color: #FFFF00;
}
.selected {
        color: #000000;
        background-color: #CCCCCC;
}
#alertList a {
        color: black;
}
#alertList {
        font-size: 14px;
}



#header {
  background-image: url(images/background.jpg);
  min-width:            100%;
}
#header table {
  width:      100%;
  text-align: center;
}


#main {
  position: relative;
  padding:  0px;
  width:    100%;
}


#left {
  position: absolute;
  top:      0px;
  left:     0px;
  width:    200px;
  padding:  10px;
}
#left .menu{
  margin:             0px;
  padding:            5px;
  background-color:   #fff;
  border:             1px solid black;
  border-radius:      7px;
  -moz-border-radius: 7px;
  box-shadow:         0 0 5px 5px #888;
  -moz-box-shadow:    0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px #888;
}


#content {
  min-width:      75%;
  position:   absolute;
  top:        0px;
  left:       220px;
  padding:    15px;
  margin:     10px;
  background: #ffffff;
}
#content table {
  border-collapse: collapse;
  margin:          0px;
  align:           left;
}
#content table, #content th,#content td {
  border:      1px solid black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:   8pt;
  text-align:  left;
  padding:     5px;
}
#content th {
  background-color: #bbbbbb;
}
#content tr.alt td {
  background-color: #dddddd;
}
#content th small , #content th small a {
  font-family:     Arial, sans-serif;
  font-size:       6pt;
  text-decoration: none;
}

#content form table, #content form th, #content form td {
  border: 0px;
}
#content form th {
  background-color: #ffffff;
  text-decoration:  underline;
}

